.loader{border-radius: 50%;
    height: 100px;
    width: 100px;
    border-top: 20px solid skyblue;
    border-right: 20px solid greenyellow;
    border-bottom: 20px solid crimson;
    border-left: 20px solid yellow;

    
}
.loader:hover{
    animation-name: load;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes load{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(400px) rotate(180deg);
    }
    100%{
        transform:translateY(0px) rotate(360deg);
    }
}
