*{
    margin:0;
    padding: 0;
}
.first{
    background: url(https://images.unsplash.com/photo-1699306112834-abeadd420578?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 800px;
    width: auto;
}
.entries{
    display:inline-flex;
    justify-content: space-around;
    background-color: black;
    width: 1500PX;

}
.entries h1{
    color: aliceblue;
}
.entries h1:hover{
    background-color: white;
    color: black;
}
.india{
    margin:250px 250px 200px 500px;
    
}
.india h1{
    margin-top: 200px;
    margin-left: 200px;
}
.second{
    display: inline-block;
    justify-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
#images{
    display: flex;
    justify-content: space-between;
}
#columns{
    display: flex;
    justify-content: space-around;
}
.third{
    margin-top: 100px;
    background-color: black;
    height: 1000px;
}
#imagesection{
    display: flex;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
}
#buybutton{
    margin-left: 100px;
    background-color: black;
    width: 100px;
}
#buybutton:hover{
    background-color:rgb(255, 2, 2) ;
    
}
.last{
    display:inline-flex;
    justify-content: space-between;
}
