div{
    border: 20px solid blue;
    height: 100px;
    width: 100px;
    margin: 20px;
    display:inline-block;

}
section{
    border: 50px rgb(100, 3, 100);
}
#static #relative{
    top:100px;
    left: 100px;
    position: static;
}