div{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: 20px;
    display: inline-block;
}
section{
    border: 2px solid green;
}
#fixed #middle
{
    position:fixed;
    top:10px;
    left:1px;
}